body {
	padding-top: 20px;
	padding-bottom: 20px;
}

iframe {
	border: 0;
	height: 300px;
}

.header {
	padding-bottom: 1em;
	margin-bottom: 1em;
	border-bottom: 1px solid #e5e5e5;
}
.header h3 {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 40px;
}

.jumbotron {
	margin-top: 1em;
}

@media (min-width: 768px) {
	.container {
		max-width: 768px;
	}
}
